#calculator-wrapper {
    background-color: lightblue;
    width: 25%;
    height: 600px;
    padding: 35px 50px 50px 40px;
    border-radius: 15px;
    box-shadow: 18px 18px rgb(28, 65, 88);
}

#top-window {
    background-color: lightslategray;
    height: 25%;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 10px 10px rgb(86, 96, 120)
}

#bottom-keys {
    background-color: lightcoral;
    height: 70%;
    width: 100%;
}

#number-keys {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.number {
    color: rgb(0, 2, 3);
    width: 100px;
    height: 104px;
}